@font-face {
  src: url("./poppins.ttf");
  font-family: "Poppins";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}
body {
  background: #e3e9f7;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}
header {
  width: 80%;
  height: 70px;
  background: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
}
.logo {
  width: 120px;
  margin-top: 8px;
}
nav .logo {
  display: none;
}
nav ul {
  display: flex;
}
nav ul li a {
  color: #212526;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
}
nav ul li a:hover {
  background: #f6f4ff;
}
nav ul li a.active {
  color: #fff;
  background: #ef6292;
}
.hamburger {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}
.hamburger:hover {
  background: #f6f4ff;
}
.hamburger .line {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #212526;
}
.gen{
  display: flex;
  padding: 0 10px;
  align-items: center;
  background: #e3e9f7;
  justify-content: center;
}
.wrapper{
height: 265px;
max-width: 410px;
background: #fff;
border-radius: 7px;
padding: 20px 25px 0;
transition: height 0.2s ease;
box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.wrapper.active{
height: 530px;
}
.header h1{
font-size: 21px;
font-weight: 500;
}
.header p{
margin-top: 5px;
color: #575757;
font-size: 16px;
}
.wrapper .form{
margin: 20px 0 25px;
}
.form :where(input, button){
width: 100%;
height: 55px;
border: none;
outline: none;
border-radius: 5px;
transition: 0.1s ease;
}
.form input{
font-size: 18px;
padding: 0 17px;
border: 1px solid #999;
}
.form input:focus{
box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.form input::placeholder{
color: #999;
}
.form button{
color: #fff;
cursor: pointer;
margin-top: 20px;
font-size: 17px;
background: #ef6292;
}
.qr-code{
opacity: 0;
display: flex;
padding: 33px 0;
border-radius: 5px;
align-items: center;
pointer-events: none;
justify-content: center;
border: 1px solid #ccc;
}
.wrapper.active .qr-code{
opacity: 1;
pointer-events: auto;
transition: opacity 0.5s 0.05s ease;
}
.qr-code img{
width: 170px;
}

@media (max-width: 430px){
.wrapper{
  height: 500px;
  padding: 16px 20px;
}
.wrapper.active{
  height: 510px;
}
.header p{
  color: #696969;
}
.form :where(input, button){
  height: 52px;
}
.qr-code img{
  width: 160px;
}  
}

@media only screen and (max-width: 1100px) {
  header {
      width: 90%;
      padding: 0 20px;
  }
  nav {
      position: absolute;
      left: -300px;
      top: 0;
      z-index: 999;
      width: 280px;
      height: 100vh;
      background-color: #fefefe;
      transition: 0.2s;
      box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }
  #nav_check:checked ~ nav {
      left: 0;
  }
  nav .logo {
      display: block;
      height: 70px;
      display: flex;
      align-items: center;
      margin-left: 30px;
  }
  nav ul {
      display: block;
      padding: 0 20px;
      margin-top: 30px;
  }
  nav ul li a {
      margin-bottom: 5px;
      padding: 15px;
      border-radius: 5px;
  }
  .hamburger {
      display: block;
  }
  .logout {
    position: absolute;
    bottom: 0;
  }
}
